$font-header: 'Playfair Display';
$font-main: 'Roboto';
$font-additional: 'Prata';

$color-text-black: #1B1A17;
$color-text-grey: #555248;
$color-text-white: #fff;

$color-background: #fff;
$color-background-main: #FDFDFB;
$color-background-banner: #F7F5EF;
$color-background-footer: #444240;