$font-header: "Playfair Display";
$font-main: "Roboto", sans-serif;
$font-additional: "Prata";

$color-text-black: #1b1a17;
$color-text-grey: #555248;
$color-text-white: #fff;

$color-background: #fff;
$color-background-main: #fdfdfb;
$color-background-banner: #f7f5ef;
$color-background-footer: #444240;
